* {
  font-family: monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --color-1: #000;
  --color-2: #f7d354;
  --color-3: #b8930c;
  --color-4: #121212;
  --fontsize-1: 1.25rem;
  --fontsize-2: 1.5rem;
  --fontsize-3: 2.5rem;
  --gap-s: 0.625rem;
  --gap: 1.25rem;
  --border-radius: 5px;
}

/* html {
  --color-1: #010101;
  --color-2: #c7282e;
  --color-3: #fb624b;
  --color-4: #0d0c0a;
  --color-5: #ffffff;
  --fontsize-1: 1.125rem;
  --fontsize-2: 1.5rem;
  --gap-s: 0.625rem;
  --gap: 1.25rem;
  --border-radius: 5px;
} */

.container {
  max-width: 1024px;
  margin: 0 auto;
}

@media (max-width: 739px) {
  .container {
    flex-direction: column;
    max-width: 360px;
    margin: 0 auto;
  }
}

a {
  text-decoration: none;
  color: var(--color-2);
}

body {
  background: var(--color-1);
  color: var(--color-2);
  transition: 0.5s;
}

a:hover {
  color: var(--color-3);
}

a:visited {
  color: inherit;
}

ul {
  list-style-type: none;
}

/* Title */

.title {
  margin: 0 auto;
  text-align: center;
  margin: 30px 0 15px 0;
}

.title h2 {
  font-size: var(--fontsize-3);
  font-weight: bold;
}

.title p {
  font-size: var(--fontsize-1);
  font-style: italic;
  font-weight: bold;
}

.title span {
  color: var(--color-2);
}

.t-search {
  color: #fff;
}

/* Navbar */

.navbar-box {
  background: var(--color-4);
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1024px;
  margin: 0 auto;
  padding: 10px 0;
}

#navbar h2 a {
  display: flex;
  align-items: center;
  gap: var(--gap-s);
}

.navbar-form {
  display: flex;
}

.navbar-form label {
  font-size: var(--fontsize-1);
  margin: 0 var(--gap-s) 0 0;
}

.navbar-box button {
  background: var(--color-2);
  width: 40px;
  height: 40px;
  border-radius: var(--border-radius);
  border: 2px solid var(--color-3);
  margin: 0 0 0 5px;
}

.navbar-form input {
  height: 40px;
  border-radius: var(--border-radius);
  border: 2px solid var(--color-3);
  padding: 5px 10px;
}

/* Movies */

.movies {
  align-items: center;
}

.movie-card {
  width: 300px;
  display: inline-block;
  flex-direction: row;
  margin: 30px 0;
  background: var(--color-4);
  padding: 15px;
  border-radius: var(--border-radius);
  align-items: center;
}

.movies-box {
  margin: 0 auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.loading {
  font-size: var(--fontsize-2);
  color: #fff;
  font-weight: 600;
  text-align: center;
}

.movie-card img {
  height: 360px;
  width: 260px;
  display: flex;
  justify-content: center;
}

.movie-card p {
  display: flex;
  align-items: center;
  gap: var(--gap-s);
  margin-bottom: 10px;
  text-align: center;
}

.movie-card a {
  background: var(--color-1);
  border-radius: var(--border-radius);
  padding: 5px;
}

.movie-card a:hover {
  background: var(--color-3);
  color: var(--color-1);
}

@media (max-width: 739px) {
  .movies-box {
    justify-content: center;
  }
}

.movieinfo-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.movieinfo-box h2 {
  text-align: center;
  margin: 10px 0 0 0;
}
